html, body {
    height: 100%;
    background-color: black;
}
*{margin: 0;padding: 0}
.user{
    position: absolute;
    width: 40%;
    height: 90%;
    margin-left: 30%;
    margin-top: 2.5%;
    text-align: center;
    color: blue;
    border-radius: 5px;
    visibility: hidden;
    z-index: 0;
}
.user h1{
    margin-top: 20%;
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.user input{
    margin-top: 5%;
    width: 90%;
    height: 5%;
    font-size: 20px;
    color: blue;
    background-color: transparent;
    text-align: center;
    border: 3px blue solid;
    border-radius: 5px;
}
.user button{
    margin-top: 5%;
    width: 30%;
    height: 5%;
    font-size: 15px;
    border: 2px solid gray;
    color: gray;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}
.chat{
    position: absolute;
    width: 80%;
    height: 90%;
    margin-left: 0%;
    margin-top: 2%;
    background-color: green;
    z-index: 0;
}
.chat form{
    position: absolute;
    margin-left: 5%;
    width: 100%;
    height: 10%;
    bottom: 1px;
}
.chat input{
    width: 60%;
    height: 50%;
    border: 1px blue solid;
}
.chat button{
    height: 50%;
    width: 20%;
    background-color: white;
    color: blue;
    border: 1px solid blue ;
    border-radius: 5px;
}
.campo_msg{
    width: 80%;
    height: 70%;
    margin-left: 5%;
    margin-top: 5%;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
    border: 1px blue solid;
    background-color: #BDBDBD;
    border-radius: 5px;
}
.campo_msg li{
    list-style: none;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #E6E6E6;
    margin: 2%;
    padding: 1%;
    height: 10%;
    color: #6E6E6E;
    border-radius: 5px;
}
.campo_msg li span{
    color: black;
    font-size: 20px;
}

.online{
    color: green;
    width: 10%;
    margin-top: 6%;
    margin-left: 85%;
    position: absolute;
    border-bottom: 1px solid green;
}

@media(max-width: 1000px){
    .chat{
        width: 90%;
        height: 70%;
        margin-top: 30%;
        margin-left: 5%;
    }
    .user{
        width: 50%;
        height: 15%;
        margin-left: 25%;
    }
    .user h1{
        margin-top: 10%;
        font-size: 30px;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .user input{
        margin-top: 5%;
        width: 60%;
        height: 15%;
        font-size: 20px;
    }
    .chat input{
        width: 70%;
        height: 40%;
        font-size: 30px;
    }
    .chat button{
        width: 20%;
        height: 40%;
        font-size: 30px;
    }
    .campo_msg{
        margin-top: 2%;
        margin-left: 5%;
        height: 80%;
        width: 90%;
    }
    .campo_msg li{
        font-size: 25px;
        overflow-x: scroll;
    }
    .campo_msg li span{
        font-size: 30px;
    }

    .online{
        border: none;
        width: 90%;
        margin-top: 5%;
        margin-left: 5%;
    }
}