<meta charset="utf-8">
<html>
    <head>
        <title>2112chat</title>
        <link rel="stylesheet" href="./style/style.css" />
    </head>
    <body>
        <div class="user" id="divUser">
            <h1>Welcome to 2112chat</h1>
            <form id="form" method="GET" action="/chat">
                <input id="username" type="text" placeholder="Insert your name here" />
                <button id="btnuser" disabled>Go to Chat</button>
            </form>
            <div class="ads">
                <div class="author">
                    <p>Developed by José Lucas</p>
                    <p>Find me here: </p>
                    <a href="https://github.com/JoseLucasapp">Github</a>
                </div>
            </div>
        </div>
            
        <script src="scripts/index_script.js"></script>
    </body>
</html>